.header {
    margin: 300px;
    background-image: url(https://images.pexels.com/photos/4303760/pexels-photo-4303760.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
   
}

h2 {
    color: #b7410e ;
    text-align: center;
}