h2 {
    color: #b7410e ;
    text-align: center;
}

body {
    background-color: blanchedalmond;
}

.card-tabs{
    background-color: rgb(237, 225, 206);
}

.test4 {
    display: flex;
    // flex-flow: row wrap; 
    // justify-content: space-evenly;
}