
body {
    $neutral-color: #e3e6dd;
    margin: 30px;
}


.card-tabs {
    background-color: rgb(237, 225, 206);

}



.card-content {
    align-content: center;
    height: 100%;
    margin: auto;
    font-family: $poppins;
    font-weight: $thin-weight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

// .test4 {
//     display: flex;
//     // flex-flow: row wrap; 
//     // justify-content: space-evenly;
// }

.tags-ul {
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-evenly;
    align-items: center;
  
    li {
      background-color: $brightgreen;
      color: $white;
      box-shadow: 1px 1px 2px $darkblue;
      padding: .2rem .4rem;
      text-transform: uppercase;
    }
  }

h6 {
    font-size: 20px;
}