html, body {
  height: 100%;
  width: 100%;
}

//body {
//  background-image: url('https://images.pexels.com/photos/2306359/pexels-photo-2306359.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: cover;
//}

.container {
  width: 80%;
  margin: auto;
}
