nav div {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  a {
    margin-left: 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}