//responsive nav bar -- some styles used from https://css-tricks.com/solved-with-css-dropdown-menus/
.drop-down-ul {
  
  .drop-down-menu {
    transition: all 0.7s ease;
    position: absolute; 
    margin: auto;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px #445a64;
    z-index: 100;
  
    li {
      padding: 0 auto;
      width: 100%;
      
      a {
        color: #445a64;
        text-transform: uppercase;
        font-size: $md-size;
        letter-spacing: $sm-spacing;
      }

      &:hover {
        text-shadow: 2px 2px 2px $white;
      }
    }
  }

}