// colors
$darkblue : #374852;
$brightgreen: #80ae86;
$neutral-color: #e3e6dd;
$white: #fff;
$darkgrey: #999;

//fonts
$playfair: ('Playfair Display', serif);
$poppins: ('Poppins', sans-serif);

//font-weight:
$thin-weight: 300;
$normal-weight: 400;
$md-weight: 600;
$heavy-weight: 900;

//font-size: 
$xs-size: .7rem;
$sm-size: 1rem;
$md-size: 2rem;
$lg-size: 3rem;


//letterspacing: 
$sm-spacing: .02rem;
$md-lg-spacing: .03rem;

//element variables: 
@mixin secondaryheaderfont($color) {
  font-family: $playfair;
  font-weight: $md-weight;
  font-size: $lg-size;
  color: $color;
  letter-spacing: $md-lg-spacing;
}

@mixin subheading($color) {
  font-family: $poppins;
  font-weight: $md-weight;
  font-size: $md-size;
  color: $color;
  letter-spacing: $sm-spacing;
}

@mixin paragraphtext($color) {
  font-family: $poppins;
  font-weight: $thin-weight;
  font-size: $sm-size;
  color: $color; 
  letter-spacing: $sm-spacing;
}

@mixin quoteformatting($maxheight){
  max-height: $maxheight;
  overflow-y: scroll;
  color: $darkgrey;
  display: inline-block;
  margin: .5rem 0;
  padding: 20px 30px 30px 20px;
  text-align: left;
  font-size: 2rem;
}



//Breakpoints for Media Queries -- use @include bp(xs){} to implement on other pages
@mixin bp($point) {

  @if $point==xs {
    @media only screen and (max-width: 350px) {
      @content;
    }
  }

  @else if $point==sm {
    @media only screen and (max-width: 700px) {
      @content;
    }
  }

  @else if $point==md {
    @media only screen and (min-width: 800px) {
      @content;
    }
  }

  @else if $point==lg {
    @media only screen and (min-width: 1000px) {
      @content;
    }
  }

  @else if $point==xl {
    @media only screen and (min-width: 1300px) {
      @content;
    }
  }
}