.card-section > div > div {
  padding: 0;
}

.show-page-banner { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2em auto;

    h2, h3 {
      font-family: $playfair;
      font-weight: $md-weight;
      color: $brown;
    }
    h2 {
      font-size: $lg-size;
      letter-spacing: $md-lg-spacing;
    }
    h3 {
      font-size: $md-size;
      letter-spacing: $md-lg-spacing;
    }
  }


.card-content {
  height: 100%;
  margin: auto;
  font-family: $poppins;
  font-weight: $thin-weight;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tags-ul {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-evenly;
  align-items: center;

  li {
    color: $white;
    padding: .1rem .2rem;
    text-transform: uppercase;
  }
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  p {
    font-size: 1.5rem;
  }
}

//style elements drawn from https://codepen.io/hannahlivnat/pen/wvMJmyw
.quotebody {
  max-height: 200px;
  overflow-y: scroll;
  color: $darkgrey;
  display: inline-block;
  margin: .5rem 0;
  padding: 20px 30px 30px 20px;
  text-align: left;
  font-size: 2rem;
  .author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;
    color: $darkgrey;
  }

  i {
    position: relative;
    background: #eee;
    padding-left: 5px;
    font-size: 1rem;
    z-index: 5;
  }


}

.edit-and-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 2rem;
  
  button {
    margin-left: 10px;
    font-size: 10px;
    text-transform: uppercase;
  }
}

.editform {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #fff; 
  padding: 20px;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-shadow: 2px 2px 4px #cccccc;
}