
.show-page-container {

  .card.large, .card{
    @include bp(xs) {
      padding: 40px 20px;
      height: 400px;

    }
  }
  .card {
  .card-content {
    padding: 0;
    height: 100%;
    padding: 0;
    font-family: $poppins;
    font-weight: $thin-weight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

}

.tags-ul {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-evenly;
  align-items: center;

  li {
    @include bp(xs) {
      font-size: $xs-size;
      margin: 0 5px 5px 0;
    }
    background-color: $brightgreen;
    color: $white;
    box-shadow: 1px 1px 2px $darkblue;
    padding: .2rem .4rem;
    text-transform: uppercase;
    margin-top: 10px;
  }
}

.top-bar {
  @include bp(xl) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  display: flex;
  flex-direction: column-reverse;


  .right-top-bar {
    @include bp(xs) {
      align-self: center;
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .material-icons {
      margin-right: 15px;
    }

    p {
      @include bp(xl) {
        font-size: 1.7rem;
      }
      @include bp(sm) {
        font-size: $sm-size;
      }
      @include paragraphtext(#000000);
      font-size: 1.5rem;
    }
  }

  .edit-and-delete-buttons {
    @include bp(xs) {
      align-self: center;
    }
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
  
    button {
      @include bp(xs) {
        font-size: .6rem;
      }
      @include bp(xl) {
        font-size: $sm-size;
      }

      margin-left: 10px;
      font-size: $xs-size;
      text-transform: uppercase;
    }
  }
}

//style elements drawn from https://codepen.io/hannahlivnat/pen/wvMJmyw
.quotebody {
  @include bp(xs) {
    font-size: 1.2rem;
  }
  @include bp(xl) {
    @include quoteformatting(200px);

  }
    @include quoteformatting(225px);
    font-size: 1.7rem;

  .author {
    position: relative;
    display: block;
    text-align: right;
    margin-top: 5px;
    color: $darkgrey;
  }

  i {
    position: relative;
    background: #eee;
    padding-left: 5px;
    font-size: 1rem;
    z-index: 5;
  }


}



