@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins:wght@300;400");
html, body {
  height: 100%;
  width: 100%;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 80%;
  margin: auto;
}

.editform {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-box-shadow: 2px 2px 4px #cccccc;
          box-shadow: 2px 2px 4px #cccccc;
}

.userforms {
  width: 75%;
}

@media only screen and (max-width: 700px) {
  .userforms {
    margin-top: 30px;
  }
}

.userforms .changeform-btn {
  position: absolute;
  top: 20px;
  right: 15px;
}

@media only screen and (max-width: 700px) {
  .userforms .changeform-btn {
    top: 315px;
    right: 5px;
  }
}

.userforms h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 3rem;
  color: #374852;
  letter-spacing: 0.03rem;
  text-shadow: 4px 4px 2px #80ae86;
}

.drop-down-ul .drop-down-menu {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  position: absolute;
  margin: auto;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 2px #445a64;
          box-shadow: 2px 2px 2px #445a64;
  z-index: 100;
}

.drop-down-ul .drop-down-menu li {
  padding: 0 auto;
  width: 100%;
}

.drop-down-ul .drop-down-menu li a {
  color: #445a64;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.02rem;
}

.drop-down-ul .drop-down-menu li:hover {
  text-shadow: 2px 2px 2px #fff;
}

.card-section > div > div {
  padding: 0;
}

.show-page-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2em auto;
}

.show-page-banner h2, .show-page-banner h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 3rem;
  color: #000000;
  letter-spacing: 0.03rem;
}

.card-content {
  height: 100%;
  margin: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tags-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tags-ul li {
  background-color: #80ae86;
  color: #fff;
  -webkit-box-shadow: 1px 1px 2px #374852;
          box-shadow: 1px 1px 2px #374852;
  padding: .2rem .4rem;
  text-transform: uppercase;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.top-bar .right-top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-bar .right-top-bar .material-icons {
  margin-right: 15px;
}

.top-bar .right-top-bar p {
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
}

.top-bar .edit-and-delete-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.top-bar .edit-and-delete-buttons button {
  margin-left: 10px;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.quotebody {
  max-height: 200px;
  overflow-y: scroll;
  color: #999;
  display: inline-block;
  margin: .5rem 0;
  padding: 20px 30px 30px 20px;
  text-align: left;
  font-size: 2rem;
}

.quotebody .author {
  position: relative;
  display: block;
  text-align: right;
  margin-top: 5px;
  color: #999;
}

.quotebody i {
  position: relative;
  background: #eee;
  padding-left: 5px;
  font-size: 1rem;
  z-index: 5;
}

.login-page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  -ms-grid-rows: 100vh;
      grid-template-rows: 100vh;
      grid-template-areas: "banner form";
}

@media only screen and (min-width: 1300px) {
  .login-page {
    -ms-grid-columns: 600px 1fr;
        grid-template-columns: 600px 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .login-page {
    -ms-grid-columns: 400px 1fr;
        grid-template-columns: 400px 1fr;
  }
}

@media only screen and (max-width: 700px) {
  .login-page {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 300px 1fr;
        grid-template-rows: 300px 1fr;
        grid-template-areas: "banner" "form";
  }
}

.login-page .verticalbanner {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner;
  background: no-repeat center/100% 100% -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.5))), url("../assets/vertical-nav-desktop-image.jpg");
  background: no-repeat center/100% 100% linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../assets/vertical-nav-desktop-image.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 700px) {
  .login-page .verticalbanner {
    background: no-repeat center/100% 100% -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../assets/vertical-nav-responsive-image.jpg");
    background: no-repeat center/100% 100% linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../assets/vertical-nav-responsive-image.jpg");
    background-size: cover;
  }
}

.login-page .verticalbanner h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 0.03rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-shadow: 1px 2px 2px #000000;
}

.login-page .verticalbanner p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.02rem;
  font-size: 1rem;
  text-shadow: 1px 1px 3px #000000;
  text-align: center;
}

.login-page .userform-holder {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.errorcontainer > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.errorcontainer > div p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #374852;
  letter-spacing: 0.02rem;
  margin-left: 5px;
}

.errorcontainer > div .deleteerror:hover {
  color: red;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */