<h2>card section test</h2>
<div>Bookmark Place</div>
<div class="container">
<form ng-submit="ctrl.createBookmark()">
    <input type="text" ng-model="ctrl.createBookmarkForm.name" name="name" placeholder="name"/>
    <input type="textarea" ng-model="ctrl.createBookmarkForm.body" name="body" placeholder="body"/>
    <input type="text" ng-model="ctrl.createBookmarkForm.author" name="author" placeholder="author"/>
    <input type="text" ng-model="ctrl.createBookmarkForm.image" name="image" placeholder="image"/>
    <input type="text" ng-model="ctrl.createBookmarkForm.tags" name="tags" placeholder="tags"/>
    <input type="submit" value="Create your Bookmark!"/>
</form>

    <div></div>
</div>

