<form class="col s12" ng-submit="ctrl.editQuote(quote)"> 
  <div class="row">
    <button class="btn-small" ng-if="ctrl.updateForm === $index" ng-click="ctrl.closeUpdateForm()">Close Form</button>
  </div>
  <div class="row">
  <div class="input-field col s6">
    <input type="text"  name="name" ng-model="ctrl.updatedQuoteForm.name" ng-value="quote.name">
    <label class="active" for="name">Name Your Quote: </label> 
  </div>
  <div class="input-field col s6">
    <input type="text"  name="Author" ng-model="ctrl.updatedQuoteForm.author" ng-value="quote.author">
    <label class="active" for="Author">Author: </label>
  </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea class="materialize-textarea" id="edit-textarea" name="body" ng-model="ctrl.updatedQuoteForm.body" ng-value="quote.body"></textarea>
      <label class="active" for="body">Your Quote: </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="tags" ng-model="ctrl.updatedQuoteForm.tags" ng-value="quote.tags">
      <label class="active" for="tags">Enter your category tags, seperated by commas </label>
    </div>
  </div>
  <div class="row center">
    <div class="switch">
      <label> 
        Private 
        <input type="checkbox" checked name="public" 
        ng-click="ctrl.isSwitchedOn = !ctrl.isSwitchedOn"
        >
        <span class="lever"></span>
        Public
      </label>
    </div>
  </div>
  <div class="row center">
    <input class="btn-small" type="submit" value="Edit Quote">
  </div>

</form>