<div class="nav-wrapper">
  <!-- nav bar if user is NOT logged in -->
  <div ng-if="ctrl.loggedInUser === false" >
    <ul class="right">
      <li>
        <a href="#" ng-click="ctrl.setLogin()">Login</a>
      </li>
      <li>
        <a href="#" ng-click="ctrl.setSignup()">Sign Up</a>
      </li>
    </ul>
  </div>
  <!-- nav bar is user is logged in -->
  <div ng-if="ctrl.loggedInUser !== false">
    <!-- mobile responsive nav bar -->
    <ul class="hide-on-large-only drop-down-ul">
      <a class="sidenav-trigger"><i class="material-icons" ng-click="ctrl.toggleDropdown()">menu</i></a>
      <ul ng-if="ctrl.showDropdown" class="drop-down-menu">
        <li><a ng-click="ctrl.toggleDropdown()">X</a></li>
        <li>
          <a ng-click="ctrl.changePath('card-section.html')" >Quotes Feed</a>
        </li>
        <li>
          <a ng-click="ctrl.changePath('show-page.html')" >My Commonplace Book</a>
        </li>
        <li>
          <a ng-click="ctrl.changePath('newquote.html')">Add New Quote</a>
        </li>
        <li> 
          <a href="#"  ng-click="ctrl.logout()">Logout</a>
        </li>
      </ul>
    </ul>
    <!-- desktop nav bar -->
    <ul class="right hide-on-med-and-down">
      <li>
        <a ng-click="ctrl.changePath('card-section.html')"  >Quotes Feed</a>
      </li>
      <li>
        <a ng-click="ctrl.changePath('show-page.html')" >My Commonplace Book</a>
      </li>
      <li>
       <a ng-click="ctrl.changePath('newquote.html')">Add New Quote</a>
      </li>
      <li> 
        <a href="#"  ng-click="ctrl.logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>

<!-- mobile nav links -->


