<form ng-submit="ctrl.createQuote()">
  <h2>Add to Your Collection: </h2>
  <div class="row">
    <div class="input-field col s6">
      <input type="text"  name="name" ng-model="ctrl.createQuoteForm.name">
      <label for="name">Name Your Quote: </label> 
    </div>
    <div class="input-field col s6">
      <input type="text"  name="Author" ng-model="ctrl.createQuoteForm.author">
      <label for="Author">Author: </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea class="materialize-textarea" id="edit-textarea" name="body" ng-model="ctrl.createQuoteForm.body"></textarea>
      <label for="body">Your Quote: </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="tags" ng-model="ctrl.createQuoteForm.tags">
      <label for="tags">Enter your category tags, seperated by commas </label>
    </div>
  </div>
  <div class="row center">
    <div class="switch">
      <label> 
        Private 
        <input class="newformcheckbox" type="checkbox" checked name="public" 
        ng-click="ctrl.isSwitchedOn = !ctrl.isSwitchedOn"
        >
        <span class="lever"></span>
        Public
      </label>
      <p>Am I switched on? <b>{{ctrl.isSwitchedOn == true ? 'True' : 'False'}}</b></p>
    </div>
  </div>
  <div class="row center">
    <input class="btn-small" type="submit" value="Create Quote">
  </div> 
</form>
