<div class="show-page-container">
  <div class="show-page-banner">
      <h2 class="center">{{ctrl.loggedInUser.firstname}}</h2>
      <h3>CommonPlace Collection</h3>
  </div>
<div class="card-section">
  <!-- Need to add an array into app.js that is specific to cards
  with user's id attached, uses bookmark show route to fill array.-->
  <div class="row">
    <div class="col m12 l6" ng-repeat="quote in ctrl.userQuotes">
      <div class="card medium" >
        <div class="card-content">
            <div class="top-bar">
              <div class="right-top-bar">
                <span class="material-icons md-dark" ng-if="quote.public === false">lock</span>
                <p>{{quote.name}}</p>
              </div>
              <div class="edit-and-delete-buttons">
                <button class="btn-small" ng-if="ctrl.updateForm != $index" ng-click="ctrl.openUpdateForm($index)">Edit</button>
                <button class="btn-small" ng-click="ctrl.deleteQuote(quote)">X</button>
              </div>
            </div>
            
          <h2 class="quotebody">{{quote.body}}
          <span class="author"><i>{{quote.author}}</i></span></h2>
          <ul class="tags-ul">
            <li ng-repeat="tag in quote.tags">{{tag}}</li>
          </ul>

          <div class="editform"ng-if="ctrl.updateForm === $index">
            <div class="row">
              <div ng-include="'partials/editquote.html'" ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
