<h2>{{ctrl.loggedInUser.firstname}}'s Commonplace Book</h2>
<div class="card-section">
  <!-- Need to add an array into app.js that is specific to cards
  with user's id attached, uses bookmark show route to fill array.-->
  <div class="card">
    <div class="quote-section"></div>
    <div class="quote-details-section">
    <p>Name</p>
    <p>Author</p>
    <button>Edit</button>
    </div>
    <div class="tags">
      <!-- another ng-repeat here -->
      <ul>
      </ul>
    </div>
  </div>
</div>